<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 900px;
            margin: auto;
        }
        h2 {
            margin-bottom: 20px;
        }
        table {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h3>Lista Masini</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Numar inmatriculare</th>
            <th>Marca</th>
            <th>Model</th>
            <th>Culoare</th>
            <th>An fabricatie</th>
            <th>Capacitate cilindrica</th>
            <th>Combustibil</th>
            <th>Putere</th>
            <th>Cuplu</th>
            <th>Volum portbagaj</th>
            <th>Pret</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.registrationNumber}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.yearOfFabrication}"></td>
            <td th:text="${car.engineCapacity}"></td>
            <td th:text="${car.fuelType}"></td>
            <td th:text="${car.power}"></td>
            <td th:text="${car.torque}"></td>
            <td th:text="${car.trunkVolume}"></td>
            <td th:text="${car.price}"></td>
        </tr>
        </tbody>
    </table>
    <form class="form-inline mb-3" th:action="@{/jpa/cars/filter}" method="get">
        <div class="form-group mx-sm-3 mb-2">
            <label for="brandFilter" class="sr-only">Marca</label>
            <input type="text" class="form-control" id="brandFilter" name="brand" placeholder="marca">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="colorFilter" class="sr-only">Culoare</label>
            <input type="text" class="form-control" id="colorFilter" name="color" placeholder="culoare">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="fuelTypeFilter" class="sr-only">Combustibil</label>
            <input type="text" class="form-control" id="fuelTypeFilter" name="fuelType" placeholder="combustibil">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Filtreaza</button>
    </form>
    <a href="/logout" class="btn btn-secondary">Logout</a>
</div>
</body>
</html>
